<%- include('./partials/header.ejs')%>

<body>

  <div style='background-image: url(/images/cinema.jpeg);'
  class="img-responsive" id="indexImage">
    <h1 class="glow">SCI-FI CINEMA</h1>

    <nav class="nav nav-tabs justify-content-center">
      <a id="newLink" href='/movies/new'>+ADD A NEW MOVIE</a>

    </nav>

    <div class="row container" id="movieList">

      <div class="flex-wrapper">

        <div class="row" id= "film-container" >
          <% for(let i= 0; i < movies.length; i++) { %>
          <div class="card film-card" >
            <a href='/movies/<%=movies[i]._id%>'>
            <img src="<%=movies[i].img%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title neon" ><%=movies[i].name%></h5>
              <p class="card-text" id="descrip" ><%=movies[i].description%></p>
              <a href="/movies/<%=movies[i]._id%>/edit" class="btn btn-primary"
                id="indexEditButton">EDIT</a>
            </div>
          </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs')%>
