<%- include('./partials/header.ejs')%>
<body>


  <div style='background-image: url(/images/showpic.jpeg);'
  class="img-responsive" id="showImage">
  <nav class="nav nav-tabs justify-content-center tops">
    <a id="createLink" href='/movies'>HOME</a>

  </nav>

  <div class="card" id="showCard" >

    <iframe
    src="<%=movie.video%>" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title"><%=movie.name%></h5>
      <p class="card-text"><%=movie.description%></p>
      <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>

  <div class="comments">
    <h2>Comments:</h2>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" />
      
      <button>Send</button>
    </form>
  </div>



  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io()

    let messages = document.getElementById('messages');
    let form = document.getElementById('form');
    let input = document.getElementById('input');

    const today = new Date()
    const now = today.toLocaleString()

   form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chat message', input.value + " " + now);
      input.value = '';
      }
    });

    socket.on('chat message', function(msg) {
     let item = document.createElement('li');
     item.textContent = msg;
     messages.appendChild(item);
     window.scrollTo(0, document.body.scrollHeight);
    });

  </script>

<%- include('./partials/footer.ejs')%>
